body{}
div{background-color: #ffffff; 
    border-bottom-style: solid; 
    border-bottom-color: #cccccc; 
    border-bottom-width: 5px; 
    width:100%; 
    height: 100px;
    }
section{background-color:teal; 
    width:100px; 
    height:75px; 
    border:none;
    }
h1{text-align:center; 
    color:white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
a{}
div2{}
section2{}
h2{text-align: center;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif
    }
image{}
p{}
footer{}
