.header {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding: 10px, 0px,0px,0px;
    border-bottom: 3px gray solid;
}

.content {
    width: 960px;
    margin: 0 auto;
}

.name {
    width:200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#4aaaa5;
    color: #ffffff
}

.nav {
    float: right;
    display: inline;
    list-style-type: none;
    font-color: #777777;
    text-decoration: none;

}

.body {
    width: 100%;
    background-clip: ;

}

.card {
    width: 960px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
}

.title {
    margin: 0 auto;
    border: none;
    padding: 20 px;
    text-align: left;
    font: Arial;
    font-size: 14;
    color:#4aaaa5;
}    

.content2 {
    float: left;
    margin: 0 auto;
    border: none;
    padding: none;
    text-align: justify;
    font: Arial;
    font-size: 12;
    color:#777777;
}

.input {
    float: none;
    margin: 0 auto;
    border: none;
    padding: 20px;
    text-align: left;
    font: Arial;
    font-size: 12;
    color: #777777;
}
